#default-carousel{
    background-color: transparent;
    /* margin: 20px auto; */
    border-radius: 33px;
    max-width: 1110px;
    height: 194px;
    
}

.container-carosello-jumbotron{
    background-color: var(--color-background-alex);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    overflow: hidden;
    
}


/* #default-carousel {
    background-color: transparent !important;
} */

/* @media screen and (min-width: 968px){
    #default-carousel{
        height: 232px;
    }
} */

/* primo slide */
.container-1-carosello-j{
    background: url(https://pancakeswap.finance/_next/static/media/galxe-traverse-bg.fcab2d26.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 189px;
    display: flex;
    justify-content: space-between;
    padding:20px;
    overflow: visible;
    z-index: 1;

}


.item1-top-logo{
    display: flex;
    align-items: center;
    gap: 15px;

}

.item1-top-bunny{
    height: 20px;
}

.item1-top-line{
    height: 20px;
    width: 1px;
    background-color: white;
}

.galxeLogo{
    height: 16px; 
    
}

.item1-first-text{
    font-size: 22px;
    line-height: 150%;
    color: rgb(255, 178, 55);
    text-shadow: -1px 0 #d58701, 0 1px #d58701, 1px 0 #d58701, 0 -1px #d58701;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 1000;
    padding-top: 10px;
    
}

.item1-second-text{
    color: rgb(40, 13, 95);
    line-height: 1.5;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
}

.item1-btn{
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 40px;
    font-size: 20px;
    padding: 0px 8px;
    background-color: var(--colors-primary);
    color: var(--colors-invertedContrast);    
}

.item1-btn > div{
    color: var(--colors-text);
    font-weight: 600;
    line-height: 1.5;
    margin-right: 4px;
    font-size: 12px;
}

.item1-btn > svg{
    align-self: center;
    fill: var(--colors-white);
    color: var(--colors-white);
    flex-shrink: 0;
}

.item1-galaxy-travel{
    position: relative;
    top: -33px;
    left: -122px;
    animation: 1.5s infinite alternate slidein;
}

@keyframes slidein{
    from {
        top: -33px;
    }
    
    to {
        top: -50px;
    }
}