body{
    background-color: var(--colors-background);
}
.home-2-dark {
    background: linear-gradient(180deg, #09070c 22%, #201335 100%);
   
}

.home-2-light{
    background: linear-gradient(180deg,#fff 22%,#d7caec 100%);
}

.shaping-container-out {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 48px 0px;
}

.shaping-the-future-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 19px;
}

.shaping-text-title {
    color: var(--colors-text);
    margin-bottom: 4px;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    font-size: 32px;
}

.shaping-text-subtitle {
    color: var(--colors-text);
    margin-bottom: 48px;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    font-size: 32px;
}

.shaping-the-future-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 50px;
    width: 800px;
    margin-bottom: 48px;
}

.total-users-out {
    width: auto;
}

.total-inner {
    color: var(--colors-text);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 120%;
}

.total--numbers {
    color: var(--colors-secondary);
    line-height: 110%;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.total--p {
    color: var(--colors-textSubtle);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 120%;
}

.rocket-yellow {
    height: 170px;
    position: relative;
    top: 74px;
    left: 23px;
    width: 151px;
}

#rocket-purple-img {
    width: 113px;
}

.rocket-blur {
    width: 89px;
    position: relative;
    top: -146px;

}

.shaping-text-and-image {
    display: flex;
    justify-content: space-between;
    width: 98vw;
}

.shaping-infinite-scrolling-container {
    position: relative;
    width: 98vw;
    height: 4rem;
    overflow-x: hidden;
    max-width: 1063px;
    mask-image: linear-gradient(to left, transparent, black 80px, black calc(100% - 80px), transparent);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

.shaping-scroll-element{
    padding: 12px 24px;
    height: 46px;
    border-radius: 25px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.shaping-scroll-element p{
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

.colorInverted{
    color: var(--colors-invertedContrast);
}

#scroll-element-1-background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), rgb(240, 185, 11);
}

#scroll-element-1-background path,
#scroll-element-3-background path,
#scroll-element-5-background path,
#scroll-element-6-background path{
    fill: var(--colors-invertedContrast);
}

#scroll-element-2-background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), rgb(51, 51, 51);
  
}

#scroll-element-2-background p{
    color: rgb(240, 185, 11);
   
}
#scroll-element-2-background path{
    fill: rgb(240, 185, 11);
}
.svg-element-1-2{
    width: 26px;
}

#scroll-element-3-background{
    background: rgb(23, 186, 146);
}

#scroll-element-4-background{
    background: rgb(98, 122, 216);
}

#scroll-element-4-background img{
    width: 30px;
    opacity: 0.5;
}

#scroll-element-5-background{
    background: rgb(173, 115, 222);
}

#scroll-element-6-background{
    background: rgb(104, 110, 167);
}

#scroll-element-7-background{
    background: rgb(110, 137, 174);
}
