
 /*css NAV*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--colors-backgroundAlt);
    border-bottom: 1px solid var(--colors-cardBorder);
  }
  
  .logo {
    display: flex;
    align-items: center;
    /* Allinea verticalmente al centro */
  }
  .logo-link:hover .eye{
    transform-origin: center 60%;
    animation-name: blink; 
    animation-duration: 350ms;
    animation-iteration-count: 1;
  }
  @keyframes blink{
  0%, 100% {
    transform: scaleY(1);
    }
50% {
    transform: scaleY(0.1);
    }
    }


    .logo-link{
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .logo-link svg{
      transform: scale(1.3);
      margin-left: 15px;
    }

    
    .logo-link, .logo-link:visited{
      color: var(--colors-white);
    }


  .title {
    
    margin-left: 5px;
    padding: 5px;
      line-height: 1.5;
      font-size: 20px;
      
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-grow: 1;
  }
  
  .nav-links li {
    margin-right: 10px;
    color: var(--colors-textSubtle);
  }


  .nav-links a{
    text-decoration: none;
    padding: 0px  16px;
    font-size: 16px;
    font-weight: 400;
  }

  .nav-links a , .nav-links a:visited{
  color:  var(--colors-textSubtle);
  }
  .nav-links a svg{
    fill:var(--colors-textSubtle);
  }
  .trade-link:hover{
    background: var(--colors-tertiary);
    border-radius: 16px;
  }
  .trade-links-list:hover{
    background: var(--colors-tertiary);
    border-radius: 16px;
    padding: 10px;
  }
  .trade-link{
    position: relative;
  
  }
  li.trade-link >a {
    height: 48px;
    display: flex;
    align-items: center;
  
}
.trade-links-list {
  padding: 10px;
}
.trade-links-list a {
  padding: 0;
}
  .trade-link .trade-links{
    position: absolute;
    left: 0;
    visibility: hidden;
    z-index: 1001;
    
  }
  .trade-link:hover .trade-links{
    
    background-color: var(--colors-backgroundAlt);
    border: 1px solid var(--colors-cardBorder);
    border-radius: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 0px;
    width: 280px;
    z-index: 1001;
    pointer-events: none;
    visibility: visible !important;
  }
  .trade-links a.links-svg {
    display: flex;
    align-items: center;
} 
  .puntini{
    display: flex;
    align-items: center;
  }

  .logo2 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 8px;
  }
  .logo2-animation svg{
    transition: transform 0.3s ease 0s;
  }
  .logo2-animation:hover svg{
    transform: scale(1.2)
  }
  .logo2 .soldi {
    
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
  }
  .container-right  a {
    text-decoration: none;
    color: var(--colors-textSubtle);
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    text-align: center;
  }
  
  .button button,
  .button-impostazioni button { 
    background: transparent;
    border: none;
    fill: var(--colors-textSubtle);
    color: var(--colors-textSubtle);
    display: flex;
    text-align: center;
  }
  
  
  .container-right{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .btn-nav-image-container {
    align-items: center;
      background-color: var(--colors-tertiary);
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
      cursor: pointer;
      display: inline-flex;
      height: 32px;
      padding-left: 20px;
      padding-right: 7px;
      position: relative;
      color: var(--colors-text);
  }
  .btn-nav-image-container .bnb {
    flex-grow: 1;
    width: 100%;
    font-weight: 800;
  }
  .btn-nav-image-container img{
    position: relative;
    right: 20px;
    width: 40%;
    height: 100%;
  }
  .btn-nav-image-container  path{
    fill: var(--colors-text);
  }
  .btn-container-image-nav {
    left: 0px;
    position: absolute;
    top: 0px;
    display: block;
  }

.button-connect{
  position: relative;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 20px;
    background-color: var(--colors-primary);
    color: var(--colors-invertedContrast);
  }



  /*css featured news*/

  body{
    background-color: var(--colors-background);
    
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .title-h2{
    display: flex;
    padding: 50px;
    color: var(--colors-text);
    justify-content: center;
  }
  .second-color{
    color: var(--colors-secondary);
  }

  h2 {
      text-align: center;
      padding: 5px;
      line-height: 1.5;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
  }

  .featurednews-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:48px 0px;
    max-width: 100vw;
    overflow: hidden;
  }
  
  .cardtot-container {
      width: 2600px;
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
    
  }
  .container-svgtot{
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .container-svgtot-scorrimento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 2px solid var(--colors-primary);
  }
  .container-svgtot-scorrimento a{
    fill: var(--colors-primary);
    display: flex;
    align-items: center;
  }

  .card-featured-news{
      width: 300px;
      height: 387px;
      border-radius: 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      border: 1px solid black;
      color: white;
      background-color: #27262c;
      box-shadow: 0px 2px 0px 0px var(--colors-cardBorder);
    }

  .img  {
      width: 100%;
      height: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }

  .img img{
    min-width: 100%;
    min-height: 100%;
  }

  .card-content{
      height: 50%;
      padding: 20px;
  }

  .card-header{
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 120%;
      font-weight: 950;
      color: #b8add2;
  }
  .card-body {
    display: flex;
    text-align: left;
      font-size: 14px;
      min-height: 66px;
      margin-top: 16px;
      font-weight: 600;
      color: var(--colors-text);
      
  }
.card-footer{
  margin-top: 9px;
  text-align: left;
}
.card-footer h6{
  text-align: left;
  font-size: 9px;
  
}